---
import CharacterIcon from "@components/CharacterIcon.astro";
import { readItems } from "@directus/sdk";
import Layout from "@layouts/Layout.astro";
import { file } from "@lib/cdn";
import { directus } from "@lib/cms";

const characters = await directus.request(
    readItems("characters", {
        fields: [
            "id",
            { icon: ["filename_disk"] },
            "name_en",
            "main_color",
            "secondary_color",
        ],
        filter: {
            visible: {
                _eq: true,
            },
        },
    })
);
---

<Layout
    title="Character List"
    description="List of the characters in Uma Musume: Pretty Derby along with profile information."
>
    <div class="char-container">
        <h1>Characters</h1>
        <div class="char-list">
            {
                characters.map((character) => (
                    <div class="char">
                        <a href={`/characters/${character.id}`}>
                            <div class="inner">
                                <CharacterIcon
                                    imageUrl={file(character.icon)}
                                    name={character.name_en}
                                    mainColor={character.main_color}
                                    subColor={character.secondary_color}
                                />
                            </div>
                        </a>
                    </div>
                ))
            }
        </div>
    </div>

    <style>
        .char-container {
            padding: 10px 30px;
        }

        .char-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .char {
            flex-basis: 0;
            padding: 5px;
        }

        a {
            text-decoration: none;
        }

        a .inner {
            transform: scale(1);
            transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        }

        a:hover .inner {
            transform: scale(0.96);
        }
    </style>
</Layout>
