---
import type { HTMLAttributes } from "astro/types";
export interface Props extends HTMLAttributes<"p"> {
    title?: string | undefined | null;
    text: string[] | string | number | undefined | null;
}

const { title, text, ...restProps } = Astro.props;
const child = Astro.slots.has("default");
---

{
    Array.isArray(text) ? (
        title &&
        text.length > 0 && (
            <>
                <p {...restProps}>
                    <strong>{title}:</strong>
                </p>
                <ul>
                    {text.map((t) => (
                        <li>{t}</li>
                    ))}
                </ul>
            </>
        )
    ) : text ? (
        title ? (
            <p {...restProps}>
                <strong>{title}:</strong> {text}
            </p>
        ) : (
            <p {...restProps}>{text}</p>
        )
    ) : child ? (
        <slot />
    ) : undefined
}
